<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../../static/img/header/l.png" />

    <link rel="stylesheet" href="../../static/css/style.min.css?_v=20220413192659" />
    <link rel="stylesheet"
          href="../../static/css/About%20Us,Robot%20css/style.css">

    <!-- font  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
</head>

<body>
<div class="wrapper">
    <header class="header">
        <div class="header__container">
            <div class="icon-menu">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <a href="index.html" class="header__logo"><img src="../../static/img/header/Logo.svg" alt="Logo" /></a>
            <div class="header__menu menu">
                <nav class="menu__body">
                    <ul class="menu__list">
                        <li><a href="index.html" class="menu__link">HOME</a></li>
                        <li><a href="medicine-catalog.html" class="menu__link">Medications</a></li>
                        <li><a href="pills-body.html" class="menu__link">Order</a></li>
                        <li><a href="about-us.html" class="menu__link">ABOUT US</a></li>
                        <li><a href="BlogPart2.html" class="menu__link">BLOG</a></li>
                    </ul>
                </nav>
            </div>
            <div class="header__actions actions-header">
                <div class="actions-header__user user-header">
                    <div class="user-header__icon">
                        <img src="../../static/img/header/user.svg" alt="" />
                    </div>

                    <ul class="user-header__menu">
                        <li><a href="profile.html"
                               class="user-header__link user-header__link_1">Profile</a></li>
                        <li><a href="profile.html" class="user-header__link user-header__link_2">Orders</a></li>
                        <li><a href="" id="logout" class="user-header__link user-header__link_3">Exit
                        </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

<div class="wrapper">
    <main class="main">
        <!-- hero  -->
        <section class="hero">
            <div class="hero__container">
                <div class="hero__flex">
                    <h1 class="hero__title">We <span class="yel">take care</span> of your healthy life.</h1>

                    <img
                            src="../../static/img/About%20Us,Robot%20Image/doctor.png" alt="Doctor"
                         class="hero__img">
                </div>
            </div>
        </section>
        <!-- about-us  -->
        <section class="about-us">
            <div class="about-us__container">
                <h3 class="about-us__title">ABOUT <span class="yel">US</span></h3>

                <div class="about-us__flex">
                    <div class="about-us__imgs imgs">
                        <div class="box imgs__1">
                            <img src="../../static/img/About%20Us,Robot%20Image/image1.png" alt="Doctors">
                        </div>

                        <div class="box imgs__2">
                            <img src="../../static/img/About%20Us,Robot%20Image/image2.png" alt="Doctors">
                        </div>

                        <div class="box imgs__3">
                            <img src="../../static/img/About%20Us,Robot%20Image/image3.png" alt="Doctors">
                        </div>

                        <div class="box imgs__4">
                            <img src="../../static/img/About%20Us,Robot%20Image/image4.png" alt="Doctors">
                        </div>

                        <div class="box imgs__5">
                            <img src="../../static/img/About%20Us,Robot%20Image/image5.png" alt="Doctors">
                        </div>
                    </div>
                    <div class="about-us__description">
                        We are guys who wanted to make life easier for the students of our university a little better.<br>
                        There are many delivery robots, but we focus on our university.
                        We want our robot to deliver medicines and take care of our students.<br>
                        Of course, there are such multi-functional robots that not only make deliveries,
                        but it is important for us that our robot monitors the condition of students, provides first aid and, most importantly, works 24/7.
                        <br>
                        Also, all information about students and the state of the robot and its location is tracked on the corporate website. This site will have all students on the university base and will immediately receive help. Students' illnesses will be reported to the medical staff of the university.

                    </div>
                </div>
            </div>
        </section>

        <!-- our values  -->
        <section class="our-values">
            <div class="our-values__container">
                <div class="our-values__text">
                    <h3 class="our-values__title">Our <span class="yel">Values</span></h3>
                </div>
                <div class="our-values__cards">
                    <div class="our-values__cards__wrap">
                        <div class="our-values__card">
                            <div class="blue-square">
                                <img src="../../static/img/About%20Us,Robot%20Image/trust.png" alt="Trust">
                            </div>
                            <h5 class="card-title">Truth</h5>
                            <p class="card-text">We pride ourselves on being fair, ethical and transparent.
                            </p>
                        </div>

                        <div class="our-values__card">
                            <div class="blue-square">
                                <img src="../../static/img/About%20Us,Robot%20Image/clipboard-tick.svg" alt="Quality">
                            </div>
                            <h5 class="card-title">Quality</h5>
                            <p class="card-text">Our services are of the highest quality, reliable and long lasting.
                            </p>
                        </div>

                        <div class="our-values__card">
                            <div class="blue-square">
                                <img src="../../static/img/About%20Us,Robot%20Image/clock.svg" alt="Efficiency">
                            </div>
                            <h5 class="card-title">Efficiency</h5>
                            <p class="card-text">We strive always to be timely and accurate.</p>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <!-- about-robot  -->
        <section class="about-robot">
            <div class="about-robot__container">
                <div class="robot-offer">
                    <div class="line line2">
                        <h3 class="about-robot__title">ABOUT <span class="yel">Robot</span><h3>
                    </div>
                    <div class="line line1">
                        <div class="item-video">
                            <iframe src="https://www.youtube.com/embed/1n_KjpMfVT0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>


                </div>
            </div>

        </section>

        <!-- faq  -->
        <section class="faq">
            <div class="faq__container">
                <h3 class=" faq__title yel">FAQ</h3>

                <div class="accordion">
                    <div class="accordion-item">
                        <div class="accordion-item-header">
                            What is the purpose of this project?
                        </div>
                        <div class="accordion-item-body">
                            <div class="accordion-item-body-content">
                                The main goal of our project is to provide quick help when students get health
                                problems.
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <div class="accordion-item-header">
                            What are the problems it will solve?
                        </div>
                        <div class="accordion-item-body">
                            <div class="accordion-item-body-content">
                                It will solve the problems regarding medical care at the university.
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <div class="accordion-item-header">
                            How will it streamline or improve the current process or facilitate a new process?
                        </div>
                        <div class="accordion-item-body">
                            <div class="accordion-item-body-content">
                                This will facilitate the work of doctors and speed up the process of recovery of
                                students.
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <div class="accordion-item-header">
                            What is the product vision?
                        </div>
                        <div class="accordion-item-body">
                            <div class="accordion-item-body-content">
                                We imagine our project as an easy-to-use web-site with connected robot-consultant.
                                We also plan to add all the necessary information about basic health care in a clear
                                and accessible way.
                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </section>
    </main>
</div>

<script src="../../static/css/About%20Us,Robot%20css/main.js"></script>

<footer class="footer">
    <div class="footer__container">
        <div class="footer_row">
            <div class="footer__column">
                <div class="footer__logo">
                    <img src="../../static/img/footer/footer-logo.svg" alt="footer-logo" />
                </div>
            </div>
            <div class="footer__column">
                <div class="footer__label">Features</div>
                <nav class="footer__menu menu-footer">
                    <ul class="menu-footer__list">
                        <li class="menu-footer__item">
                            <a href="about-us.html" class="menu-footer__link">About us</a>
                        </li>
                        <li class="menu-footer__item">
                            <a href="BlogPart2.html" class="menu-footer__link">Blog</a>
                        </li>
                        <li class="menu-footer__item">
                            <a href="pills-body.html" class="menu-footer__link">Orders</a>
                        </li>
                        <li class="menu-footer__item">
                            <a href="medicine-catalog.html" class="menu-footer__link">Medications</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="footer__column">
                <div class="footer__label">Get In Touch</div>
                <div class="footer__contacts contacts-footer">
                    <a
                            href="tel:87756574105"
                            class="contacts-footer__item contacts-footer__item_phone"
                    >8(775)-6574-105</a
                    >
                    <a href="" class="contacts-footer__item contacts-footer__item_map">
                        Абылай хана 1/1</a
                    >
                    <a
                            href="mailto:info@sdu.edu.kz"
                            class="contacts-footer__item contacts-footer__item_email"
                    >info@sdu.edu.kz</a
                    >
                </div>
            </div>
        </div>
    </div>
</footer>

</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js?_v=20220413192659"></script>
<script src="../../static/js/home.min.js"></script>
<script>
    if (window.localStorage.getItem('sdu_id') == null) {
        window.location.href = 'Login.html';
    }

    let logoutButton = document.getElementById("logout")
    logoutButton.addEventListener("click", function() {
        window.localStorage.clear()
        location.reload()
    });


</script>
</body>
</html>

</html>